<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.sheena.ex.lesson04.dao.StudentDAO">
 
 	<insert id="insertStudent" parameterType="com.sheena.ex.lesson04.model.StudentModel"
 	useGeneratedKeys="true" keyProperty="id">

		INSERT INTO `new_score`
		(
			`name`
			, `phoneNumber`
			, `email`
			, `dreamJob`
			, `createdAt`
			, `updatedAt`
		) VALUE (
			#{name}
			, #{phoneNumber}
			, #{email}
			, #{dreamJob}
			, now()
			, now()
		)
		
		 	
 	</insert>
 
 </mapper>